/.web-server-pid
/app/config/parameters.yml
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/public/bundles/
/node_modules/
/bower_components/
/nbproject/
/public/assets/
/.idea/
/public/media/
/composer.lock
*.zip
/.vagrant/
/impulse.box
/media/
/assets/
/bundles/
/build/
/public/build/